<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inthefridges.api.repository.FileRepository">

    <insert id="save" parameterType="InFridgeFile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file
        (
            path,
            origin_name
            <if test="fridgeId != null">
                , fridgeId
            </if>
            <if test="itemId != null">
                , item_id
            </if>
        )
        VALUES
        (
            #{path},
            #{originName}
            <if test="fridgeId != null">
                , #{fridgeId}
            </if>
            <if test="itemId != null">
                , #{itemId}
            </if>
        )
    </insert>

</mapper>
