<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inthefridges.api.repository.MemberRepository">

    <select id="findBySocialId" resultType="Member">
        SELECT * FROM member
        WHERE social_id = #{id}
        AND deleted_at IS NULL
    </select>

    <select id="findByMemberId" resultType="Member">
        SELECT * FROM member
        WHERE id = #{id}
        AND deleted_at IS NULL
    </select>

    <select id="findByUsername" resultType="Member">
        SELECT * FROM member
        WHERE username = #{username}
        AND deleted_at IS NULL
    </select>

    <insert id="save" parameterType="Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member
        (
            username,
            email,
            social_id,
            social_type_id
        )
        VALUES
        (
            #{username},
            #{email},
            #{socialId},
            #{socialTypeId}
        )
    </insert>

    <update id="update" parameterType="Member">
        UPDATE member
        <set>
            username = #{username}
        </set>
        WHERE id = #{id} AND
        deleted_at IS NULL
    </update>

    <delete id="delete">
        UPDATE member
        SET deleted_at = NOW()
        WHERE
        id = #{id} AND
        deleted_at IS NULL
    </delete>
</mapper>
